.webcam-stream {
    transform: scaleX(-1);
    width: auto;
    height: auto;
}

#video-output {
  transform: scaleX(-1);
}

#main-canvas {
  width: 100%;
  height: 100%;
}

header {
  height: 90px;
  padding: 5px;
}